file:///home/USER_PLACEHOLDER/Desktop/Desktop
file:///home/USER_PLACEHOLDER/Documents/Documents
file:///home/USER_PLACEHOLDER/Downloads/Downloads
file:///home/USER_PLACEHOLDER/Music/Music
file:///home/USER_PLACEHOLDER/Pictures/Pictures
file:///home/USER_PLACEHOLDER/Movies/Movies
file:///Computer
file:///home/USER_PLACEHOLDER/.local/share/trash/ Trash
file:///tmp
