[Desktop Entry]
Type=Application
Name=Plank Dock
Comment=Mavericks-style dock
Exec=plank
Icon=plank
Terminal=false
X-Mavericks-Autostart-enabled=true
